body {
  /* background-color: #3a4047; */
  color: #a1a1a1 !important;
  margin: 0;
  font-family: "IRANSans";
  font-weight: 200;
  line-height: 1.5em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: inherit;
  color: #fff;
  -webkit-text-fill-color: #fff;
  box-shadow: inherit;
  -webkit-box-shadow: inherit;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #fff;
}

.jsoneditor-wrapper .jsoneditor-field {
  color: #eee !important;
}
.jsoneditor-wrapper .jsoneditor-value {
  color: #d5d5d5 !important;
}
.jsoneditor-wrapper .jsoneditor-value[contenteditable="true"]:hover,
.jsoneditor-wrapper .jsoneditor-value[contenteditable="true"]:visited,
.jsoneditor-wrapper .jsoneditor-value[contenteditable="true"]:focus {
  background-color: #555 !important;
}
